pipeline/pipe_filter.json
{
	"name": "pipe_filter",
	"properties": {
		"activities": [
			{
				"name": "GetMetadados",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "csvfiles",
							"file_name": "*.csv",
							"separator_name": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup_CSV",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "csvfiles",
							"file_name": "csvCor.csv",
							"separator_name": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_SQL",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_azure_sql",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": "SalesLT",
							"table_name": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FilterGetMetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetMetadados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetMetadados').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'C')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterLookupCsvCor",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_CSV').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().cor, 'azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FilterLookupSQL",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_SQL').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, 'Bike')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_02_activities"
		},
		"annotations": [],
		"lastPublishTime": "2023-02-23T23:24:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}